# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist/commonjs
/tmp

# dependencies
/node_modules
/vendor/*
!/vendor/almond.js
!/vendor/resolver.js
!/vendor/pouchdb-utils.js

# misc
/coverage
/.sass-cache
/connect.lock
/libpeerconnection.log
.DS_Store

